<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body tabindex="-1">

    <%- include('partials/navbar', {page: '/about'}) %>
  
    <br>

    <div class="container mx-auto">

      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
  
            <p class="py-6">Everything you DON'T want to know about me - <br> the crappy designer & even shittier developer.</p>

          </div>
        </div>
      </div>

      <br>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img class="max-w-lg rounded-lg" src="https://d1w8c6s6gmwlek.cloudfront.net/thandsinks.com/products/321/732/32173212.png" alt="profile">
        </div>

        <div class="prose">

          <p>My name is João Santiago and I'm currently studying Computer Programmin at Seneca College.
              Below, some lyrics not related to Lego nor programming:</p>

          <p class="text-xs font-bold text-gray-900">Ya empiezan las festividades, se celebra lo que llaman el descubrimiento<br>
            Cubrieron la verdad con las ondas de sus banderas por demasiado tiempo<br>
            La sangre ha comenzado a manchar a la tierra<br>
            Ha mojado nuestros ojos, nuestros corazones, y nuestra historia<br>
            Por demasiado tiempo América ha construido con sangre un espejismo de libertad y justicia<br>
            Sobre los niños la imagen de admiración<br>
            Siento los llantos de nuestro pasado<br>
            Han manipulado la historia y la han corregido para mostrarnos sus caras limpias de culpa<br>
            Quinientos años de violación y asesinatos<br>
            Quinientos años de humillación sin descanso<br>
            Un conquistador tras otro<br>
            Un exterminados tras otro<br>
            Y todavía no se llenan de vergüenza<br>
            Y la juventud es una amenaza porque a través de sus venas corre la sangre de rebelión<br>
            Varios siglos de destrucción y todavía no paran de violar nuestra tierra<br>
            Hipócritas que critican la era de conquista, pero con orgullo continúan<br>
            En los pasos de sus predecesores<br>
            Quieren a las futas de nuestra tierra<br>
            Fin a nosotros, nos destruyen con sus armas<br>
            Con sus químicas, con su racismo<br>
            Para ellos no valemos nada, somos animales<br>
            Quinientos años de la misma mierda<br>
            No importa de donde caigas nos odian, no lo pueden esconder<br>
            Esto no para, pero nosotros ya no aguantamos<br>
            Esto no para, pero nosotros ya no aguantamos<br>
            Esto tiene que parar<br>
            La rabia nubla nuestros ojos<br>
            Y los necesitamos claros para mirar al futuro
            </p>
          <p class="text-xs text-red-500">- 500 años Los Crudos</p><br>
        </div>
      </div>

    </div>

  </body>
</html>